<% if logged_in? %>
  <h3>Welcome <%= @user.name %></h3>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
    <p>Please create an account <%= link_to 'Here', new_user_path %> first</p>
<% end %>