
<% if @events.empty? %>
    <p>Currently, There are no events</p>
<% else %>
    
<% end %>
<hr>


<% unless logged_in? %>
    <em>You can Create an event by Creating an account <%= link_to 'Here', new_user_path %></em>
    <em>or login <%= link_to 'here', login_path %></em>
<% end %>

